.all-prog {
    width: 100%;
    clear: both;
    margin-left:2.5316456%;
    padding-top:40px;
    font-size: 12px;
}
.all-prog__column {
    max-width: 290px;
    padding: 5px 0;
    color: #4d4d42;
    .clearfix;
}
.all-prog__column--title {
    .all-prog__column;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1d8;
    color: #92927c;
    font-weight: bold;
}
.all-prog__name {
    display: inline-block;
    width: 109px;
    font-weight: bold;
}
.all-prog__name--title {
    vertical-align: baseline;
    color: #4d4d42;
    font-weight: bold;
}
.all-prog__sales {
    display: inline-block;
    width: 87px;
    vertical-align: top;
}
.all-prog__sales--title {
    .all-prog__sales;
    font-size: 9px;
    vertical-align: baseline;
}
.all-prog__attendance {
    width: 89px;
    display: inline-block;
    vertical-align: top;
}
.all-prog__attendance--title {
    .all-prog__attendance;
    font-size: 9px;
    vertical-align: baseline;
}
.all-prog__more {
    font-weight: normal;
    font-size: 9px;
    text-decoration: none;
    color: #92927c;
    &:hover {
        text-decoration: underline;
    }
}
