.header {
    //box
    min-width: 255px;
    //background
    background: #edf7f3;
    //other
    .clearfix;
}

.header__logo {
    //box
    padding: 8px 5px 5px ;
    float: left;

    @media only screen and (min-width: 767px) {
        //box
        padding: 8px 12px 5px 14px;
    }
}
.header__trigger {
    //box
    float: right;
    margin: 16px 16px 0 0;
    transition: background 300ms;
    //border
    border: 1px solid #cbe3d7;
    border-radius: 3px;
    //background
    background: none;
    //text
    color: #5d6663;
    font-size: 20px;

    &:hover {
        //background
        background: #cbe3d7;
    }

    @media only screen and (min-width: 767px) {
        //box
        display: none;
    }
}
