.icon__edit {
    //box
    height: 16px;
    width: 16px;
    display: block;
    margin: 0;
    //border
    //background
    background: url('../img/pencil_icons.png');
    background-position: 0px 0px;
    //text
    //other

    &:hover {
        background-position: 0px 17px;
    }
}
