.programs {
    //box
    max-width: 790px;
    float: right;
    min-width: 85.8695652%;
}
.program {
    //box
    margin: 0;
    margin-left: 2.5316456%;
    width: 30.7594937%;
    float: left;
    //border
    border: 1px solid #c7c7b6;
    border-radius: 4px;
    //background
    background: #fff;
}
.program__banner {
    //box
    //border
    //background
    //text
    //other
}
.program__header {
    //box
    padding: 20px 20px 0;
    //other
    .clearfix;
}
.program__heading {
    //box
    padding: 0;
    float: left;
    margin: 0;
    //text
    line-height: 1;
    font-size: 16px;
    color: #4d4d42;
}
.program__edit {
    //box
    width: 23px;
    height: 21px;
    float: right;
    //border
    border: 1px solid #f2f2f0;
    border-radius: 4px;
    //background
    background: transparent;
}
.program__monthly {
    //box
    //border
    //background
    //text
    //other
    
}
