.programs {
    max-width: 790px;
    float: right;
    min-width: 85.8695652%;
}
.program {
    margin: 0;
    margin-left: 2.5316456%;
    border-radius: 4px;
    border: 1px solid #c7c7b6;
    background: #fff;
    width: 30.7594937%;
    float: left;
}
.program__banner {

}
.program__header {
    .clearfix;
    padding: 20px 20px 0;
}
.program__heading {
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #4d4d42;
    float: left;
    margin: 0;
}
.program__edit {
    border: 1px solid #f2f2f0;
    border-radius: 4px;
    width: 23px;
    height: 21px;
    background: transparent;
    float: right;
}
.program__monthly {
    
}
