.sidebar {
    padding: 15px 0 0 17px;
    @media only screen and (min-width: 767px) {
        float: left;
    }
}
.sidebar__button {
    padding: 0 7px;
    color: #fff;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    .button;
    @media only screen and (min-width: 787px) {
        width: 73px;
        height: 65px;
        //centering in firefox
        body:not(:-moz-handler-blocked) & {
            padding: 0 0 0 2px;
        }
            padding: 0 0 4px 0;
        font-size: 56px;
    }
}
.sidebar__label {
    padding-left: 1em;
    font-size: 14px;
    user-select: none;
    @media only screen and (min-width: 787px) {
        display: block;
        padding-top: 5px;
        padding-left: 0;
        font-size: 11px;
    }
}
