.Subnav {
    border-top: 1px solid #cbe3d7;
    border-bottom: 1px solid #d5d4cb;
    background: #fff;
    .clearfix;
    clear:both;
}

.Subnav__links {
    margin: 0;
    padding: 0;
    // text-align: center;
}

.Subnav__link {
    padding: 15px 15px;
    list-style: none;
    font-size: 12px;
    display: inline-block;
    a {
        text-decoration: none;
        color: #777777;
        &:hover {
            text-decoration: underline;
        }
    }   
    @media only screen and (min-width: 767px) {
        font-size: 14px;
    }
}
.Subnav__link--active {
    .Subnav__link;
    font-weight: bold;
}
